$shade3 : #A6A4AB
$shade2 : #F0EDF7
$shade1 : #68676B
$shade4 : #666469
$shade5 : #8D8B91


body
  font-family: "Trebuchet MS", Helvetica, sans-serif
  color: white
  width: 100vw
  height: 100vh

.wrapper
  background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .4)) , url("../../imageedit_2_9814965393.jpg") center center no-repeat 
  background-size: cover
  background-blend-mode: normal
  height: 100vh
  width: 100vw


.background
  width: 100vw
  height: 100vh
  z-index: -30



.navBar 
  border: 1px solid #000
  height: auto
  margin: 0 auto
  border-radius: 0px
  ul 
    list-style: none;
    margin: 0 auto
    li
      display: inline-block
      

.date
  font-size: 1.3em

.link
  text-decoration: none
  color: white

.title
  font-size: 2em
  text-decoration: none

.nav-buttons 
  padding: 10px
  display: inline-block
  border-right: 1px solid black
  text-decoration: none
  color: white
  background-color: $shade2
  &:hover
    background-color: grey

.post
  background-color: rgba(80,80,80, 0.7)
  height: 25vh

  padding: 10px, 0%, 10px, 0%
  width: 70%
  clear: both
  margin: 0 auto
  border: 1px solid black
  border-radius: 5px
  margin-top: 10px

.text
  padding-left: 20px
  padding-top: 7px
  padding-bottom: 7px
  color: white
  background-color: $shade2
